/nbproject/private/
/nbproject/
/application/configs/local.php
/public/yui/
/public/assets/
/private/
/data/
/vendor/
/bin/behat.bat
/bin/behat
/composer.phar
/bin/phpunit.bat
/bin/phpunit
/bin/webunit
/bin/webunit.bat
/bin/phinx.bat
/bin/phing
/bin/phinx
/bin/phing.bat
/.vagrant/
/build/behat/
/config/autoload/local.php
/bin/generate-deps-for-config-factory
/bin/generate-factory-for-class
/bin/templatemap_generator.php
/bin/zf-development-mode
/config/development.config.php
/config/autoload/development.local.php
/bin/search